.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.button-container:hover {
    opacity: 70%;
}

div.buttonbg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    z-index: 1;
}

div.shadow {
    position: relative;
    z-index: -1;
    align-self: center;
    top: 1px;
    right: 1px;
    height: 42px;
    width: 102px;
}

div.shadow,
div.buttonbg {
    border-radius: 8px;
}